
<h1>加算(+)</h1>

<!-- 問題文 -->
<p class="lead">---------------------------</p>
<p class="lead">1:　a　=　1</p>
<p class="lead">2:　b　=　1</p>
<p class="lead">3:　answer　=　a　+　b</p>
<p class="lead">4:　puts　answer</p>
<p class="lead">---------------------------</p>

<!-- 入力フォーム/送信ボタン -->
<div class="lead mb-5">
  <form>
    <div class="row align-items-center mb-3">
      <div class="col-auto">
        <label class="col-form-label">=></label>
      </div>
      <div>
        <input class="form-control"　placeholder="Disabled input">
      </div>
    </div>
    <button class="btn btn-lg btn-primary">送信</button>
  </form>
</div>

<p class="lead">
  <%= link_to '戻る', root_path, class: "btn btn-lg btn-secondary fw-bold border-white" %>
</p>

